body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.join-row {
  font-size: 24px;
  margin-bottom: 5px;
}

.option-list > label, .join-row > label {
  padding-right: 5px;
}

.option-list > li {
  float: left;
  margin: 5px;
}

.join-row > input {
  font-size: 15px;
}

.option-button {
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  min-width: 100px;
  min-height: 100px;
}

.option-list, .join-form-list {
  padding: 0;
  list-style: none;
}

